 <!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="container" style="margin-bottom:100px;">
<center>
    <h3 class="mt-4">Order Form</h3></center><br>
<form method="POST">
   {% csrf_token %}
 <center>
  <div class="mb-3">
    <label class="form-label">Address</label>
      <input type="text" class="form-control" name="a" placeholder="Enter the address">
  </div><br>
  <div class="mb-3">
    <label class="form-label">Phone</label>
      <input type="number" class="form-control" name="p" placeholder="Enter the phone number">
  </div><br>
  <div class="mb-3">
    <label class="form-label">Account Number</label>
      <input type="number" class="form-control" name="n" placeholder="Enter the account number">
  </div><br>
     <button type="submit" class="form-control">Submit</button>
 </center>
</form>
 </div>
{% endblock %}