 <!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="container" style="margin-bottom:100px;">
<center>
<h3 class="mt-4">Register</h3></center><br>
<form method="POST">
   {% csrf_token %}
  <center>
  <div class="mb-3">
    <label class="form-label">Username</label>
      <input type="text" class="form-control" name="u" placeholder="Enter the username">
  </div><br>
  <div class="mb-3">
    <label class="form-label">Password</label>
      <input type="password" class="form-control" name="p" placeholder="Enter the password">
  </div><br>
  <div class="mb-3">
    <label class="form-label">Confirm password</label>
      <input type="password" class="form-control" name="cp" placeholder="Enter the password">
  </div><br>
  <div class="mb-3">
    <label class="form-label">First name</label>
      <input type="text" class="form-control" name="x" placeholder="Enter the firstname">
  </div><br>
  <div class="mb-3">
    <label class="form-label">Last name</label>
      <input type="text" class="form-control" name="y" placeholder="Enter the lastname">
  </div><br>
  <div class="mb-3">
    <label class="form-label">Email</label>
      <input type="text" class="form-control" name="e" placeholder="Enter the email">
  </div><br>
    </center>
  <center><button type="submit" class="form-control">Submit</button></center>
</form>
 </div>
{% endblock %}