{% extends 'base.html' %}
{% load static %}
{% block content %}
<center><h3 class="mt-4">Product Detail</h3></center>
    {% if b %}
<div class="container-fluid" style="margin-bottom:100px;">
  <div class="row">
    {% for i in b %}
    <center>
    <div class="col">
      <div class="card" style="width: 30rem;">
         <img src="{{ i.image.url }}"  alt="img" style="height:300px; width:100%;" class="card-img-top" >
         <div class="card-body">
           <center>
           <h5 class="card-title"><b>{{ i.name }}</b></h5>
           <p class="card-title">{{ i.desc }}</p>
           <p class="card-title">Category:{{ i.category }}</p>
           <p class="card-title">Price:{{ i.price }}</p>
           <a href="{% url 'shop:detail' i.name %}" class="btn btn-primary">DETAILS</a></center>
         </div>
      </div>
    </div>
    </center>
    {% endfor %}
  </div>
</div>
<br>
{% else %}
    <h4>No Results Found</h4>
    {% endif %}
{% endblock %}